Menu:
  "&File":
    value: "&File"
    submenu:
      "New &Window":
        value: "Nuova &finestra"
      "&New File":
        value: "Nuovo &documento"
      "&Open File…":
        value: "Apri un d&ocumento…"
      "Open Folder…":
        value: "Apri una cartella…"
      "Add Project Folder…":
        value: "Aggiungi una cartella da progetto esistente…"
      "Reopen Project":
        value: "Riapri progetto"
        submenu:
          "Clear Project History":
            value: "Elimina la cronologia dei progetti"
      "Reopen Last &Item":
        value: "Riapri l'&ultimo elemento"
      "Se&ttings":
        value: "&Impostazioni"
      "Config…":
        value: "Configurazione…"
      "Init Script…":
        value: "Script iniziale…"
      "Keymap…":
        value: "Mappa caratteri…"
      "Snippets…":
        value: "Frammenti…"
      "Stylesheet…":
        value: "Fogli di stile…"
      "&Save":
        value: "&Salva"
      "Save &As…":
        value: "Sal&va con nome…"
      "Save A&ll":
        value: "Salva &tutto"
      "&Close Tab":
        value: "&Chiudi scheda"
      "Close &Pane":
        value: "Chiudi &pannello"
      "Clos&e Window":
        value: "Chiudi finest&ra"
      "E&xit":
        value: "&Esci"
      "Close All Tabs":
        value: "Chiudi tutte le schede"
  "&Edit":
    value: "&Modifica"
    submenu:
      "&Undo":
        value: "&Annulla"
      "&Redo":
        value: "&Ripristina"
      "Cu&t":
        value: "&Taglia"
      "&Copy":
        value: "&Copia"
      "Copy Pat&h":
        value: "Copia &percorso"
      "&Paste":
        value: "&Incolla"
      "Paste Without Reformatting":
        value: "Incolla senza riformattare"
      "Select &All":
        value: "S&eleziona tutto"
      "&Toggle Comments":
        value: "Attiva/disattiva comme&nti"
      Lines:
        value: "Linee"
        submenu:
          "&Indent":
            value: "Aumenta &indentazione"
          "&Outdent":
            value: "&Riduci indentazione"
          "&Auto Indent":
            value: "Indentazione &automatica"
          "Move Line &Up":
            value: "Sposta linea &su"
          "Move Line &Down":
            value: "Sposta linea &giù"
          "Du&plicate Lines":
            value: "&Duplica linee"
          "D&elete Line":
            value: "&Cancella linea"
          "&Join Lines":
            value: "&Unisci linee"
      Columns:
        value: "Colonne"
        submenu:
          "Move Selection &Left":
            value: "Sposta selezione a &sinistra"
          "Move Selection &Right":
            value: "Sposta selezione a &destra"
      Text:
        value: "Testo"
        submenu:
          "&Upper Case":
            value: "M&aiuscolo"
          "&Lower Case":
            value: "M&inuscolo"
          "Delete to End of &Word":
            value: "Cancella fino alla &fine della parola"
          "Delete to Previous Word Boundary":
            value: "Cancella fino al limite della parola precedente"
          "Delete to Next Word Boundary":
            value: "Cancella fino al limite della parola sucessiva"
          "&Delete Line":
            value: "Cancella &linea"
          "&Transpose":
            value: "&Trasponi"
      Folding:
        value: "Compressione codice"
        submenu:
          "&Fold":
            value: "&Comprimi"
          "&Unfold":
            value: "&Espandi"
          "Unfold &All":
            value: "C&omprimi tutto"
          "Fol&d All":
            value: "E&spandi tutto"
          "Fold Level 1":
            value: "Espandi fino al 1º livello"
          "Fold Level 2":
            value: "Espandi fino al 2º livello"
          "Fold Level 3":
            value: "Espandi fino al 3º livello"
          "Fold Level 4":
            value: "Espandi fino al 4º livello"
          "Fold Level 5":
            value: "Espandi fino al 5º livello"
          "Fold Level 6":
            value: "Espandi fino al 6º livello"
          "Fold Level 7":
            value: "Espandi fino al 7º livello"
          "Fold Level 8":
            value: "Espandi fino all'8º livello"
          "Fold Level 9":
            value: "Espandi fino al 9º livello"
      "Reflow Selection":
        value: "Ridisponi selezione"
      Bookmark:
        value: "Segnalibri"
        submenu:
          "View All":
            value: "Visualizza tutti"
          "Toggle Bookmark":
            value: "Attiva/disattiva segnalibro"
          "Jump to Next Bookmark":
            value: "Passa al segnalibro successivo"
          "Jump to Previous Bookmark":
            value: "Passa al segnalibro precedente"
          "Select to Next Bookmark":
            value: "Seleziona fino al prossimo segnalibro"
          "Select to Previous Bookmark":
            value: "Seleziona fino al precedente segnalibro"
      "Select Encoding":
        value: "Seleziona codifica"
      "Go to Line":
        value: "Vai alla linea"
      "Select Grammar":
        value: "Seleziona linguaggio"
  "&View":
    value: "&Visualizza"
    submenu:
      "Toggle &Full Screen":
        value: "Attiva/disattiva &schermo intero"
      "Toggle Menu Bar":
        value: "Attiva/disattiva la barra dei menu"
      Panes:
        value: "Pannelli"
        submenu:
          "Split Up":
            value: "Suddividi in alto"
          "Split Down":
            value: "Suddividi in basso"
          "Split Left":
            value: "Suddividi a sinistra"
          "Split Right":
            value: "Suddividi a destra"
          "Focus Next Pane":
            value: "Seleziona pannello successivo"
          "Focus Previous Pane":
            value: "Seleziona pannello precedente"
          "Focus Pane Above":
            value: "Seleziona pannello superiore"
          "Focus Pane Below":
            value: "Seleziona pannello inferiore"
          "Focus Pane On Left":
            value: "Seleziona pannello a sinistra"
          "Focus Pane On Right":
            value: "Seleziona pannello a destra"
          "Close Pane":
            value: "Chiudi pannello"
      Developer:
        value: "Sviluppatore"
        submenu:
          "Open In &Dev Mode…":
            value: "Apri in modalità di &sviluppo…"
          "&Reload Window":
            value: "&Ricarica finestra"
          "Run Package &Specs":
            value: "Apri le specifiche del &pacchetto"
          "Run &Benchmarks":
            value: "Apri i &test prestazionali"
          "Toggle Developer &Tools":
            value: "Attiva/disattiva &Ispeziona elemento"
      "&Increase Font Size":
        value: "&Aumenta la dimensione del carattere"
      "&Decrease Font Size":
        value: "&Riduci la dimensione del carattere"
      "Re&set Font Size":
        value: "Ripristina la &dimensione del carattere"
      "Toggle Soft &Wrap":
        value: "Attiva/disattiva a capo automatico"
      "Toggle Command Palette":
        value: "Attiva/disattiva la lista dei comandi"
      "Toggle Tree View":
        value: "Attiva/disattiva la visualizzazione ad albero"
  "&Selection":
    value: "&Selezione"
    submenu:
      "Add Selection &Above":
        value: "Aggiungi un cursore &sopra"
      "Add Selection &Below":
        value: "Aggiungi un cursore so&tto"
      "S&plit into Lines":
        value: "Suddividi in c&ursori"
      "Single Selection":
        value: "Torna a un solo cursore"
      "Select to &Top":
        value: "Seleziona fino in &cima"
      "Select to Botto&m":
        value: "Seleziona fino in &fondo"
      "Select &Line":
        value: "Seleziona tutta la &linea"
      "Select &Word":
        value: "Seleziona la &parola"
      "Select to Beginning of W&ord":
        value: "Seleziona fino all'inizio d&ella parola"
      "Select to Beginning of L&ine":
        value: "Seleziona fino all'inizio della line&a"
      "Select to First &Character of Line":
        value: "Seleziona fino al p&rimo carattere della linea"
      "Select to End of Wor&d":
        value: "Seleziona fino alla fi&ne della parola"
      "Select to End of Lin&e":
        value: "Seleziona fino alla fine della l&inea"
      "Select Inside Brackets":
        value: "Seleziona il contenuto tra le parentesi"
  "F&ind":
    value: "&Cerca"
    submenu:
      "Find in Buffer":
        value: "Trova nel file"
      "Replace in Buffer":
        value: "Trova e sostituisci nel file"
      "Select Next":
        value: "Seleziona il successivo"
      "Select All":
        value: "Seleziona tutti"
      "Toggle Find in Buffer":
        value: "Attiva/disattiva Trova nel file"
      "Find in Project":
        value: "Trova nel progetto"
      "Toggle Find in Project":
        value: "Attiva/disattiva Trova nel progetto"
      "Find All":
        value: "Trova tutti"
      "Find Next":
        value: "Trova il successivo"
      "Find Previous":
        value: "Trova il precedente"
      "Replace Next":
        value: "Sostituisci il successivo"
      "Replace All":
        value: "Sostituisci tutti"
      "Clear History":
        value: "Elimina la cronologia"
      "Find Buffer":
        value: "Cerca i file aperti"
      "Find File":
        value: "Cerca i file"
      "Find Modified File":
        value: "Cerca i file modificati"
  "&Packages":
    value: "&Pacchetti"
  "&Help":
    value: "&Aiuto"
    submenu:
      "View &Terms of Use":
        value: "Mostra i &Termini d'utilizzo"
      "View &License":
        value: "Mostra la &licenza"
      "Restart and Install Update":
        value: "Riavvia e installa l'aggiornamento"
      "Check for Update":
        value: "Cerca aggiornamenti"
      "Checking for Update":
        value: "Ricerca aggiornamenti in corso"
      "Downloading Update":
        value: "Download in corso dell'aggiornamento"
      "&Documentation":
        value: "&Documentazione"
      "Frequently Asked Questions":
        value: "Domande frequenti (FAQ)"
      "Community Discussions":
        value: "Discussioni della comunità"
      "Report Issue":
        value: "Segnala un problema"
      "Search Issues":
        value: "Cerca problemi"
      "About Atom":
        value: "Informazioni su Atom"
      "Welcome Guide":
        value: "Guida di benvenuto"
