Settings:
  "tab-title": "Impostazioni"
  menu: [
    {
      _label: "Core"
      value: "Generali"
    }
    {
      _label: "Editor"
      value: "Editor"
    }
    {
      _label: "System"
      value: "Sistema"
    }
    {
      _label: "Keybindings"
      value: "Scorciatoie da tastiera"
    }
    {
      _label: "Packages"
      value: "Pacchetti"
    }
    {
      _label: "Themes"
      value: "Temi"
    }
    {
      _label: "Updates"
      value: "Aggiornamenti"
    }
    {
      _label: "Install"
      value: "Installa"
    }
  ]
  "btn-open-config-folder": "Apri il percorso di configurazione"
  sectionHeadings: [
    {_label: "Core Settings", value: "Impostazioni generali"}
    {_label: "Editor Settings", value: "Impostazioni dell'editor"}
    {_label: "System Settings", value: "Impostazioni del sistema"}
    {_label: "Keybindings", value: "Scorciatoie da tastiera"}
    {_label: "Installed Packages", value: "Pacchetti installati"}
    {_label: "Choose a Theme", value: "Scegli un tema"}
    {_label: "Installed Themes", value: "Temi installati"}
    {_label: "Install Packages", value: "Installa pacchetti"}
    {_label: "Featured Packages", value: "Pacchetti in evidenza"}
    {_label: "Install Themes", value: "Installa nuovi temi"}
    {_label: "Featured Themes", value: "Temi in evidenza"}
    {_label: "Available Updates", value: "Aggiornamenti disponibili"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Caratteri invisibili"}
    {_label: "Community Packages", value: "Pacchetti della comunità"}
    {_label: "Core Packages", value: "Pacchetti predefiniti"}
    {_label: "Development Packages", value: "Pacchetti per sviluppare"}
    {_label: "Git Packages", value: "Pacchetti Git"}
    {_label: "Community Themes", value: "Temi della comunità"}
    {_label: "Core Themes", value: "Temi predefiniti"}
    {_label: "Development Themes", value: "Temi per sviluppare"}
    {_label: "Git Themes", value: "Temi Git"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Queste sono le impostazioni generali di Atom che influenzano il comportamento
               non relativo alla modifica del testo. Ogni pacchetto può avere
               le sue impostazioni addizionali, che puoi modificare tramite la loro schedina
               nella <a class="link packages-open">lista dei pacchetti</a>.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Queste impostazioni riguardano la modifica del testo. Alcune di queste
               possono essere sovrascritte in base al linguaggio. Controlla le
               impostazioni della lingua cliccando sulla schedina del pacchetto linguistico nella
               <a class="link packages-open">lista dei pacchetti</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Consenti l'anteprima degli oggetti nei pannelli"
        desc: "Consenti agli oggetti di essere visionati senza dover essere aggiunti
               permanentemente ad un pannello, come accade per i file della visualizzazione ad albero (es. singolo clic)."
      }
      {
        _id: 'core.audioBeep'
        title: "Beep sonoro"
        desc: "Emetti un suono di sistema quando certe azioni
			   falliscono o non producono risultati."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Aggiorna automaticamente"
        desc: "Aggiorna Atom automaticamente quando viene rilasciata una nuova versione."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Nascondi automaticamente la barra dei menu"
        desc: "Nascondi in automatico la barra dei menu e commutala premendo il tasto <code>Alt</code>. Funzionalità esclusiva di Windows e Linux."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Chiudi le schede dei file eliminati"
        desc: "Chiudi gli editor corrispondenti quando un file viene eliminato non all'interno di Atom."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Chiudi le finestre vuote"
        desc: "Quando il comando <code>Chiudi scheda</code> è attivato per una finestra senza schede o pannelli aperti, viene chiusa la finestra stessa."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Rimuovi i pannelli vuoti"
        desc: "Quando l'ultima scheda di un pannello viene chiusa, viene rimosso anche il pannello stesso."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Escludi i percorsi ignorati dal VCS"
        desc: "File e percorsi ignorati dal VCS saranno ignorati anche da alcuni pacchetti, come il <code>navigatore rapido</code> e <code>trova e sostituisci</code>. Ad esempio, i progetti che usano Git, hanno definiti questi percorsi nel file <code>.gitignore</code>. I pacchetti individuali possono avere configurazioni proprie addizionali per ignorare i percorsi di VCS."
      }
      {
        _id: 'core.fileEncoding'
        title: "Codifica dei file"
        desc: "Codifica predefinita per la lettura/scrittura dei file."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "Gestione del File system"
        desc: "Scegli l'implementazione usata dietro le quinte per monitorare i cambiamenti dei file. L'emulazione ignora i cambiamenti effettuati all'esterno di Atom, ma può prevenire crash e blocchi."
        select:
          native: "API native del sistema operativo"
          atom: "Emulato con gli eventi Atom"
      }
      {
        _id: 'core.followSymlinks'
        title: "Segui i collegamenti simbolici"
        desc: "Segui i collegamenti simbolici durante l'accesso ai file e quando si aprono i file con il <code>navigatore rapido</code>."
      }
      {
        _id: 'core.ignoredNames'
        title: "Nomi ignorati"
        desc: "Lista dei <code>glob patterns</code>. File e cartelle che corrispondono a questi modelli saranno ignorati da alcuni pacchetti, come il <code>navigatore rapido</code> e la visuale ad albero. I pacchetti individuali potrebbero richiedere ulteriori configurazioni per ignorare i nomi."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Apri un editor vuoto all'avvio"
        desc: "Apri automaticamente un nuovo editor senza testo all'avvio."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Pacchetti con scorciatoie da tastiera disabilitate"
      }
      {
        _id: 'core.projectHome'
        title: "Cartella predefinita dei progetti"
        desc: "Il percorso in cui si presume si trovino i progetti. I pacchetti creati utilizzando il generatore di pacchetti saranno archiviati lì per impostazione predefinita."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Dimensione del menu per riaprire i progetti"
        desc: "Numero di progetti recenti da visualizzare nel menu per riaprire i progetti."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Riapri le finestre recenti all'avvio di Atom"
        desc: "Quando selezionato, ripristina l'ultimo stato di tutte le finestre di Atom se avviato dall'icona o anche scrivendo <code>atom</code> dalla linea di comando; in caso contrario viene caricato l'ambiente vuoto."
        select:
          no: "No"
          yes: "Sì"
          always: "Sempre"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Invia le statistiche al team di sviluppo di Atom"
        desc: "Consenti l'invio delle statistiche d'uso e di registri sugli errori e eccezioni al team di Atom al fine di migliorare il prodotto."
        select:
          limited: "Consenti statistiche d'uso anonime, limitate e registri sulle eccezioni e crash"
          no: "Non inviare alcun dato"
          undecided: "Sono indeciso (Atom ti chiederà al prossimo avvio se inviarli oppure no)"
      }
      {
        _id: 'core.titleBar'
        title: "Barra del titolo"
        desc: "Sperimentale: Una barra <code>personalizzata</code> del titolo che si adatta ai colori del tema. Scegliendo <code>personalizzata-rientrata</code> si aggiunge un po più di spazio interno. La barra del titolo può anche essere <code>nascosta</code> completamente.<br>Nota: Passare ad una barra personalizzata o celata comprometterà alcune funzionalità.<br>Questa impostazione richiederà un riavvio di Atom per avere effetto."
        select:
          native: "nativa"
          custom: "personalizzata"
          "custom-inset": "personalizzata-rientrata"
          hidden: "nascosta"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Usa le impostazioni del proxy all'invocazione di APM"
        desc: "Quando viene chiamato lo strumento a linea di comando <code>apm</code>, usa le impostazioni rilevate per il proxy."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Pacchetti con versione bloccata"
        desc: "Lista dei nomi dei pacchetti installati che non saranno aggiornati automaticamente."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Usa la barra del titolo personalizzata"
        desc: "Usa una barra del titolo personalizzata in base al tema.<br>Nota: Questa non comprende ancora l'icona del proxy.<br>Questa impostazione avrà effetto solo dopo il riavvio di Atom."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Limita l'apertura di file con grandi dimensioni"
        desc: "Mostra un avviso prima di aprire file più pesanti di questa quantità di megabyte."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Tabulazioni automatiche in base alla linea precedente"
        desc: "Salta le serie di spazi equivalenti ad una tabulazione durante lo scorrimento."
      }
      {
        _id: 'editor.autoIndent'
        title: "Indentazione automatica"
        desc: "Fai rientrare automaticamente il cursore durante l'inserimento di una nuova linea."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Indentazione automatica dopo aver incollato del testo"
        desc: "Indenta automaticamente il testo incollato basandoti sull'indentazione della linea precedente."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Esegui un backup prima di salvare"
        desc: "(non è una cattiva idea)"
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Conferma la revisione al checkout dell'HEAD"
        desc: "Mostra un dialogo di conferma quando si fa il checkout dalla revisione dell'HEAD e si stanno per scartare le modifiche dell'ultimo commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "Famiglia di caratteri"
        desc: "Il nome della famiglia di caratteri usata nel testo dell'editor."
      }
      {
        _id: 'editor.fontSize'
        title: "Grandezza dei caratteri"
        desc: "Altezza in pixel del testo dell'editor."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Ritorno a capo invisibile"
        desc: "Carattere usato per mostrare i caratteri di ritorno a capo
               (ritorno in stile Microsoft) quando l'opzione <code>Mostra
               caratteri invisibili</code> è abilitata."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Nuova linea invisibile"
        desc: "Caratteri usati per mostrare i caratteri di nuova linea (\n) quando l'opzione
               <code>Mostra caratteri invisibili</code> è abilitata."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Spazio invisibile"
        desc: "Caratteri usati per mostrare i caratteri di spazio iniziale e finale
               quando l'opzione <code>Mostra caratteri invisibili</code> è abilitata."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Tabulazioni invisibili"
        desc: "Caratteri usati per mostrare i caratteri di tabulazione forzata (\t) quando l'opzione
               <code>Mostra caratteri invisibili</code> è abilitata."
      }
      {
        _id: 'editor.lineHeight'
        title: "Altezza delle linee"
        desc: "Altezza delle linee dell'editor, come moltiplicatore della grandezza dei caratteri."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Lunghezza massima della linea per la tabulazione"
        desc: "Definisce la lunghezza massima della finestra dell'editor espressa in numero di caratteri prima che l'a capo automatico venga eseguito."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Caratteri non lessicali"
        desc: "Una stringa di caratteri che non fanno parte di nessuna parola, per definire i limiti delle parole stesse."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Lunghezza preferita della linea"
        desc: "Identifica la lunghezza di una linea che viene utilizzata quando si fa il wrapping del testo
			   con l'impostazione <code>A capo automatico alla lunghezza preferita della linea</code>
               attiva, in numero di caratteri."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Scorri oltre la fine"
        desc: "Consenti all'editor di scorrere oltre la fine del documento."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Sensibilità dello scorrimento"
        desc: "Determina quanto velocemente l'editor scorre quando si usa un mouse o
		un trackpad."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Mostra il cursore nella selezione"
        desc: "Mostra il cursore quando si del testo è selezionato."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Mostra la guida dell'indentazione"
        desc: "Mostra gli indicatori del rientro nell'editor."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Mostra caratteri invisibili"
        desc: "Mostra dei segnaposto per i caratteri invisibili, come tabulazioni,
               spazi e caratteri di nuova linea (a capo)."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Mostra il numero di linea"
        desc: "Mostra i numeri delle linee al bordo dell'editor."
      }
      {
        _id: 'editor.softTabs'
        title: "Tabulazioni soft"
        desc: "Se il <code>Tipo di tabulazione</code> è impostato su \"auto\"
               e il rilevamento del tipo di tabulazione del contenuto fallisce, allora
               questa impostazione determina quando viene usata la tabulazione soft o quella hard
               alla pressione del tasto Tab."
      }
      {
        _id: 'editor.softWrap'
        title: "A capo automatico"
        desc: "Manda a capo le linee che eccedono la dimensione della finestra. Quando
               <code>A capo automatico alla lunghezza preferita della linea</code> è impostato,
               andrà a capo secondo l'impostazione <code>Lunghezza preferita
			   della linea</code>."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "A capo automatico alla lunghezza preferita della linea"
        desc: "Invece di andare a capo alla larghezza delle finestra, va a capo
               al numero di caratteri definito dall'impostazione <code>Lunghezza preferita della linea</code>.
               Questo avrà effetto solo se l'A capo automatico è attivo globalmente o per il linguaggio attuale.
               <strong>Nota:</strong> Se vuoi nascondere la guida per il wrapping (la linea verticale) puoi
               disattivare il pacchetto <code>wrap-guide</code>."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Esegui l'a capo automatico dell'indentazione pendente"
        desc: "Quando l'a capo automatico è attivo, definisce la lunghezza
               del rientro applicato alle linee ripiegate, in numero di caratteri."
      }
      {
        _id: 'editor.tabLength'
        title: "Lunghezza di una tabulazione"
        desc: "Numero di spazi che rappresenta una tabulazione."
      }
      {
        _id: 'editor.tabType'
        title: "Tipo di tabulazione"
        desc: "Determina il carattere inserito quando il tasto Tab viene premuto. Possibili
               valori: \"auto\", \"soft\" e \"hard\". Quando impostato su \"soft\" o su
               \"hard\", vengono utilizzate tabulazioni soft (spazi) o tabulazioni hard (caratteri di tabulazione).
               Quando impostato su \"auto\", l'editor deduce automaticamente il tipo di tabulazione
               basandosi sul contenuto del buffer (usa il primo spazio bianco iniziale
               di una linea che non sia un commento), o usa il valore dell'impostazione
               tabulazione soft se il rilevamento fallisce."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Intervallo di raggruppamento degli annullamenti"
        desc: "Invervallo di tempo in millisecondi nel quale le operazioni di annullamento
        vengono raggruppate assieme nella cronologia."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Ingrandisci il testo allo scorrimento con Ctrl premuto"
        desc: "Cambia la dimensione del testo quando si preme il tasto Ctrl e
               si scorre verso l'alto/il basso."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Registra come gestore di file"
        desc: "Mostra Atom nella lista di applicazioni \"Apri con\" per facilitare l'associazione con i tipi di file."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Mostra nel menu contestuale dei file"
        desc: "Aggiungi \"Apri con Atom\" al menu contestuale dei file per Esplora risorse."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Mostra nel menu contestuale delle cartelle"
        desc: "Aggiungi \"Apri con Atom\" al menu contestuale delle cartelle di per Esplora risorse."
      }
    ]
  }
  system: {
    notes: "Queste impostazioni determinano il modo in cui Atom interagisce con il tuo sistema operativo."
  }
  keymaps: {
    notes: {
      text1: "Puoi sovrascrivere queste associazioni copiandole "
      text2: "ed incollandole nel tuo "
      text3: "file delle scorciatoie"
      text4: "."   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Cerca tra le scorciatoie"
    "table-header-keystroke": "Combinazione di tasti"
    "table-header-command": "Comando associato"
    "table-header-source": "Fonte"
    "table-header-selector": "Selettore"
  }
  packages: {
    searchBarText: 'Filtra i pacchetti per nome'
  }
  themes: {
    notes: {
      text1: "Puoi anche personalizzare Atom modificando "
      text2: "il tuo foglio di stile"
      text3: "."   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "Tema dell'interfaccia grafica"
    description1: "Questo personalizza le schede, le barre di stato, la visuale ad albero e i menu a tendina"
    title2: "Tema della sintassi"
    description2: "Questo personalizza il testo all'interno dell'editor"
    searchBarText: 'Filtra i temi per nome'
  }
  updates: {
    "check-updates": "Controlla aggiornamenti"
    "update-all": "Aggiorna tutto"
    "checking-updates": "Ricerca degli aggiornamenti in corso..."
    "all-updated-message": "Tutti i pacchetti installati risultano aggiornati!"
  }
  install: {
    notes: {
      text1: "I pacchetti vengono pubblicati presso "
      text2: " e sono installati nel percorso "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Cerca tra i pacchetti"
    "btn-packages": "Pacchetti"
    "btn-themes": "Temi"
  }
  "control-btns":{
    install: "Installa"
    update: "Aggiorna alla versione"
    setting: "Impostazioni"
    uninstall: "Disinstalla"
    disable: "Disattiva"
    enable: "Attiva"
  }
